section {
    margin-block: var(--size-solid-100);
}

@media (min-width: 48em) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .h2 {
    font-size: var(--fs-700);
  }
}
@media (min-width: 64em) {
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}